* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    padding: 100px;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: rgb(234, 160, 234);
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.721);
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 75%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
  }
  
  .task {
    padding: 10px;
    margin: 5px 0;
    background-color:rgb(206, 119, 206);
    color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button.edit, button.delete, button.complete {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
  }
  
  .completed {
    text-decoration: line-through;
    color: rgb(255, 255, 255);
  }
  